<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">SS Food Corner! 😋</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="#">Welcome Saurabh</a>
                  </li>
                  <li class="menu-container">
                    <a routerLink="/">Dashboard</a>
                    <div class="menu">
                      <a routerLink="/profile">Profile</a>
                      <a routerLink="/orders">Orders</a>
                      <a>Logout</a>
                    </div>
                  </li>
                  <li>
                    <a routerLink="/cart-page">
                      Cart
                    </a>
                  </li>
            </ul>
        </nav>
    </div>
</header>